.title {
    background-image: url(../images/cole.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    height: 48vw;
    margin-top: -0.8vw;
    margin-left: -3vw;
    padding-top: 1px;
    position: relative;
    width: 102.3vw;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 10vw;
}

.cmu-title,
.signu-title,
.chapter-title {
    color: #FFFFFF;
    margin-bottom: 1vw;
    margin-left: 13vw;
    margin-right: 0px;
    margin-top: 0px;
}

.cmu-title {
    font-size: 4vw;
}

.signu-title {
    font-size: 8vw;
}

.chapter-title {
    font-size: 4vw;
}



.who {
    color: #FFFFFF;
    margin-bottom: 8vw;
    margin-left: 10vw;
    margin-right: 0px;
    margin-top: 0px;
    width: 80vw;
}

.who-title {
    font-size: 8vw;
}

.who-div {
    font-size: 1.5vw;
    margin-left: 5vw;
}



.creed {
    background-image: url(../images/cole.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    height: 48vw;
    margin-left: -3vw;
    padding-top: 1px;
    position: relative;
    width: 102.3vw;
}

.creed-title {
    color: #FFFFFF;
    font-size: 8vw;
    margin-left: 13vw;
}

.love,
.honor,
.truth {
    font-size: 6vw;
    margin-top: -2.1vw;
}

.love {
    color: #000000;
    margin-left: 20vw;
}

.honor {
    color: #FFFFFF;
    margin-left: 50vw;
}

.truth {
    color: #FFD700;
    margin-left: 80vw;
}



.brotherhood {
    background-color: #FFFFFF;
    margin-left: -3vw;
    padding-bottom: 10vw;
    padding-left: 13vw;
    padding-right: 22.3vw;
    padding-top: 1px;
    width: 80vw;
}

.brotherhood-title {
    font-size: 8vw;
}

.brotherhood-div {
    font-size: 1.5vw;
    padding-left: 5vw;
}



.recruitment {
    background-image: url(../images/cole.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    height: 48vw;
    margin-left: -3vw;
    padding-top: 1px;
    padding-right: 10vw;
    position: relative;
    width: 92.3vw;
}

.recruitment-title {
    color: #FFFFFF;
    font-size: 8vw;
    margin-left: 13vw;
}

.recruitment-div {
    font-size: 1.5vw;
    margin-left: 18vw;
}



.letter {
    color: #FFFFFF;
    padding-bottom: 8vw;
    padding-left: 10vw;
    padding-top: 1px;
    width: 80vw;
}

.letter-title {
    font-size: 8vw;
}

.letter-div {
    font-size: 1.5vw;
    padding-left: 5vw;
}



.contact {
    background-color: #FFFFFF;
    padding-bottom: 8vw;
    padding-left: 11vw;
    padding-right: 1.6vw;
    padding-top: 1px;
    margin-left: -1vw;
    width: 100vw;
}

.contact-title {
    font-size: 8vw;
}

.contact-div {
    font-size: 1.5vw;
    margin-left: 5vw;
}

