// CSS styling for the page container

@import "sizes";

.container {
    display: flex;
    flex-direction: column;
    max-width: $tablet-max-width;
    min-height: 100vh;

    // Centers the page
    margin: 0 auto;
    padding: 0;
}



