@import 'sizes';
// CSS styling for the header/menu

// Mobile/overflopw menu
@mixin menu {
    position: absolute;
    background: var(--background);
    border-radius: $corner-radius;
    border: 2px solid var(--border-color);
    margin: 0;
    padding: 10px;
    list-style: none;
    z-index: 99;
}

.header {
    // Arrange items in a row
    display: flex;
    flex-direction: column;
    position: relative;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        display: flex;
        flex: 1;

        // The mobile menu popup trigger
        a {
            flex: 0 0 auto;
            max-width: 100%;
            text-decoration: none;

            &:focus {
                outline: dotted 2px var(--color);
            }
        }
    }

    .menu {
        &-desktop {
            margin-top: 10px;

            @media (max-width: $phone-max-width) {
                display: none;
            }
        }

        &-mobile {
            @media (min-width: $phone-max-width) {
                display: none;
            }
            
            @media (max-width: $phone-max-width) {
                @include menu;
                padding-top: 15px;
                top: 50px;
                right: 0px;
            }
        }

        &-inner {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;

            &-desktop {
                @media (max-width: $phone-max-width) {
                    display: none;
                }
            }

            &-mobile {
                display: none;

                @media (max-width: $phone-max-width) {
                    display: block;
                }
            }

            li {
                &.active {
                    color: var(--accent-alpha-70);
                }

                &:not(:last-of-type) {
                    margin-right: 20px;
                    flex: 0 0 auto;
                }
            }

            @media (max-width: $phone-max-width) {
                flex-direction: column;
                align-items: flex-start;
                padding: 0;

                li {
                    margin: 0;
                    padding: 5px;
                }
            }

            &-list {
                position: relative;
                list-style: none;
                padding: 0;
                margin: 0;

                &:not(:only-child) {
                    margin-left: 20px;
                }

                &-more {
                    @include menu;
                    top: 35px;
                    left: 0;

                    &-trigger {
                        margin: 0;
                        color: var(--accent-secondary);
                        user-select: none;
                        cursor: pointer;
                    }

                    li {
                        margin: 0;
                        padding: 5px;
                        white-space: nowrap;
                    }
                };
            }
        }
        
        &-trigger {
            display: none;

            @media (max-width: $phone-max-width) {
                display: inherit;
            }

            &:focus {
                outline: dotted 2px var(--color);
            }

            &-button {
                color: var(--accent-secondary);
                border: 2px solid;
                border-radius: $corner-radius;
                user-select: none;
                height: 100%;
                padding: 6px 8px;
                position: relative;
                cursor: pointer;
            }
        }
    }
}
