{%- import "macros/menu.html" as menu -%}
{%- import "macros/logo.html" as logo -%}

{% macro header(config, current_url) %}
<header class="header">
    <div class="header-inner">
        <div class="header-arms">
            <a href="{%- if config.extra.logo_home_link -%}{{ config.extra.logo_home_link }}{%- else -%}{{ config.base_url }}{%- endif -%}">
                {%- set image = resize_image(path="static/coat-of-arms.png", width=256, height=256, op="fit") %}
                <img src="{{ image.url }}"/>
            </a>
        </div>
        <div class="header-title">
            <div class="header-frat">
                Sigma Nu
            </div>
            <div class="header-school">
                CMU
            </div>
        </div>
        <div class="menu-trigger" tabindex="0">
            <div class="menu-trigger-button">
                Menu
            </div>
        </div>
    </div>
    {{ menu::menu(config=config, current_url=current_url)}}
</header>
{% endmacro header %}

