{%- import "macros/head.html" as head -%}
{%- import "macros/header.html" as header -%}
{%- import "macros/footer.html" as footer -%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>

    {%- block title -%}
        <title>{{ config.title }}</title>
    {%- endblock title -%}

    {%- block css -%}
    {{ head::styling() }}
    {%- endblock css -%}

    {%- block favicon -%}
    {{ head::favicon(config=config) }}
    {%- endblock favicon -%}
</head>

<body class="">
    <div class="container">
        {% block header -%}
            {{ header::header(config=config, current_url=current_url) }}
        {%- endblock header -%}

        <div class= "content">
            {% block main -%}
            {%- endblock main %}
        </div>

        {% block footer %}
        <footer class="footer">
            <div class="footer__inner">
                {%- block script -%}
                    {{ footer::script() }}
                {%- endblock script %}
            </div>
        </footer>
        {% endblock footer %}
    </div>
</body>

</html>
